#vocabulary-master-wrapper{
  position: fixed;
  right: 1em;
  border: 1px solid darkolivegreen;
  background: whitesmoke;
  //max-width: 25vw !important;
  //min-height: 10em;
  //max-height: 96vh !important;
  z-index: 9999;
  font-size: 14px;
  padding: 2px;
  //overflow-y: scroll;

  &.max{
    top: 1em;
    width: 25vw !important;
    #title{
      font-size: 1.5em;
    }
  }

  &.mini{
    bottom: 1em;
    //padding: 1px;
    //width: 2em;
    //height: 2em !important;

    #title{
      font-size: 1em;
    }
  }

  button{
    font-size: 1em;
    &.autoplay-btn {
      font-size: .8em;
    }
  }

  audio{
    display: none;
  }
  img.play-btn {
    width: 1em;
  }

  #definition {
    max-height: 30vh;
    overflow-y: scroll;
    width: 96%;

    .meaning {
      margin-top: .3em;
      .phonetic {
        padding-left: .5em;
      }
      .partOfSpeech {
        color: darkred;
      }

      .definition {
      }

      .example {
        color: #25D084;
      }

      .synonyms {
        color: #3f51b5;
        font-weight: bold;
      }
    }
  }

  #examples{
    max-height: 65vh;
    overflow-y: scroll;
  }
}
